* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
  background-color: #fefcf7;
}

.card {
    margin: auto;
    border-radius: 0.8rem;

    h1 {
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 2rem;
        margin: 1rem 0;
        color: #fefcf7;
        font-family: "Fraunces", sans-serif;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        color: #fefcf7;
        font-family: "Barlow", sans-serif;
    }
}

nav {
    user-select: none;
    margin: 1rem auto;
    width: 90%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 10rem;
        margin: 0.5rem;
    }
}

#navigation {
    display: none;
    li {
        display: inline;
        margin: 0 0.6rem;
        font-size: 0.7rem;
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        color: #83888f;
    }

    a {
        text-decoration: none;
        color: #83888f;
        transition: 100ms color;
        &:hover {
            color: #333d4b;
        }
    }
}

.hamburger-menu {
    img {
        width: 1rem;
    }
}

.hidden {
    pointer-events: none;
    opacity: 0 !important;
    ul {
        opacity: 0;
        transform: translate(0px, -25px) !important;
    }
}

.modal-menu {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    opacity: 1;
    transition: opacity 300ms ease-in;
    font-family: "Fraunces", sans-serif;
    background: rgb(254, 252, 247);
    background: -moz-linear-gradient(
        180deg,
        rgba(254, 252, 247, 1) 25%,
        rgba(254, 247, 247, 0) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(254, 252, 247, 1) 25%,
        rgba(254, 247, 247, 0) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(254, 252, 247, 1) 25%,
        rgba(254, 247, 247, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefcf7",endColorstr="#fef7f7",GradientType=1);
    text-align: center;

    ul {
        opacity: 1;
        transform: translate(0px, 0px);
        transition: opacity 200ms ease-out 200ms,
            transform 500ms ease-out;
    }

    li {
        font-family: "Fraunces", sans-serif;
        font-weight: 900;
        color: hsl(215, 5%, 54%);
        font-size: 1.3rem;
        list-style: none;
        margin-bottom: 1rem;
        user-select: none;
        a {
            text-decoration: none;
            color: hsl(215, 19%, 25%);
        }
        a:hover {
            cursor: pointer;
            color: hsl(179, 81%, 29%);
        }
    }
}

footer {
    margin: 8em 0 0 0;
    font-family: "Barlow", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2c343e;
    padding: 3em 0;
    color: #fefcf7;
    box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.2);

    ul {
        margin: auto;
    }

    li {
        font-size: 0.9rem;
        font-weight: 700;
        user-select: none;
        text-transform: uppercase;
        list-style: none;
        text-align: center;
        margin: 1.5rem 0 0;
    }

    a {
        text-decoration: none;
        color: #83888f;
        &:hover {
            cursor: pointer;
            color: #fefcf7;
        }
    }
}

.footer-logo {
    width: 13rem;
    margin: auto;
    padding-bottom: 3rem;
}

.socials {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    margin: 3.5rem auto 0;

    img {
        cursor: pointer;
        &:hover {
            filter: invert(82%) sepia(80%) saturate(254%)
                hue-rotate(323deg) brightness(410%)
                contrast(98%);
        }
    }
}

@media (min-width: 481px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 711px) {
    html {
        font-size: 18px;
    }

    .hamburger-menu {
        display: none;
    }

    #navigation {
        display: block;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 20px;
    }

    nav {
        width: 80%;

        img {
            width: 12rem;
        }
    }

    footer {
        margin: 8em 0 0 0;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background: #2c343e;
        padding: 2rem 0;
        color: #fefcf7;
        box-shadow: 0 -5px 25px rgba(0, 0, 0, 0.2);

        ul {
            margin: auto;
        }

        li {
            display: inline;
            font-size: 0.8rem;
            padding-left: 1.8rem;
        }
    }

    .footer-logo {
        width: 13rem;
        padding-bottom: 0;
    }

    .socials {
        margin: 0 auto;
        img {
            width: 1.4rem;
        }
    }
}
